body,h1,h2, h3,h4{
    font-family: Georgia;
}
    h2{text-align: center;}
    h1{text-align: center;}
    h3{text-align: center;}
    p{line-height: 20px;}
    img{ float: left;}
    img{display: inline-block; margin-right: 20px;}
    div{text-transform: uppercase;}

